[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/vst3sdk/pluginterfaces"]
	path = vendor/vst3sdk/pluginterfaces
	url = https://github.com/steinbergmedia/vst3_pluginterfaces
